



<div class="login-pf" style="height: 100%;">
<span id="badge" >
  <img src="../../assets/img/logo.svg" alt=" logo" />
</span>
<div  class="loginPozadina" style="height: 100%;" >

</div>

<div class="container loginPozadina2" >
  <div class="row">
    <div class="col-sm-12" style="position: fixed;">
     <div id="brand">        
        <h2 style="color: white;">Elektrotehnički fakultet univerziteta u Sarajevu</h2>
        <!--<img src="../../assets/img/brand.svg" alt="PatternFly Enterprise Application">-->
     </div>
    
    </div><!--/.col-*-->
    
    <div class="col-sm-7 col-md-6 col-lg-5 login">
        <form #loginform="ngForm" (ngSubmit)="onSubmit(loginform.value)" class="form-horizontal" role="form">
        <div *ngIf="greskaPrijave" class="alert alert-warning" style="">
          <span class="pficon pficon-warning-triangle-o"></span>
          <strong>{{greskaPrijave}}</strong>
        </div>
        <div class="form-group">
          <label for="inputUsername" class="col-sm-2 col-md-2 control-label" style="color: white;">Username</label>
          <div class="col-sm-10 col-md-10">
            <input name="uname" ngModel required #uname="ngModel" type="text" class="form-control" id="inputUsername" placeholder="" tabindex="1">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword" class="col-sm-2 col-md-2 control-label" style="color: white;">Password</label>
          <div class="col-sm-10 col-md-10">
            <input name="pass" ngModel required #pass="ngModel" type="password" class="form-control" id="inputPassword" placeholder="" tabindex="2">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-8 col-sm-offset-2 col-sm-6 col-md-offset-2 col-md-6">
            <!--<div class="checkbox">
              <label>
                <input type="checkbox" tabindex="3"> Remember username
              </label>
            </div>
            <span class="help-block"> Forgot <a href="#" tabindex="5">username</a> or <a href="#" tabindex="6">password</a>?</span>-->
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 submit">
            <button type="submit" class="btn btn-primary btn-lg" tabindex="4">Log In</button>
          </div>
        </div>
      </form>
    </div><!--/.col-*-->
    <div class="col-sm-5 col-md-6 col-lg-7 details">
      <p style="color: white;"><strong>Dobro došli na bolognaware Elektrotehničkog fakulteta Sarajevo</strong><br><br><br></p>
      <p *ngIf="greskaPrijave"><br><br><br></p>
      <a href="#">Preuzmite uputstva za nastavnike</a>
    </div><!--/.col-*-->
  </div><!--/.row-->
</div><!--/.container-->
</div>

